@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}
.sub_heading{
    @apply text-2xl text-violate-300 font-extrabold 
}
.main_heading{
    @apply text-6xl text-mainBg-300 font-extrabold
}
.swiper_shadow{
    box-shadow: rgba(0, 0, 0, 0.525) 0px -50px 36px -28px inset;
}
.text_fill{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @apply bg-gradient-to-br from-white to-mainBg-300
}